.change-date {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: start;
    align-self: start;

    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: white;
    font-weight: bold;

    background-color: transparent;
    border: none;
    transform: rotate(-68deg) translate( -30px, -30px);
    
    font-family: $font-roboto;

    &:focus {
        outline: none;
    }

    i{
        margin-right: 10px;
    }
}